<form class="form bg-white p-6 my-10 relative" [formGroup]="createUserForm">
  <div
    class="icon bg-blue-600 text-white w-6 h-6 absolute flex items-center justify-center p-5"
    style="left: -40px;"
  >
    <i class="fal fa-phone-volume fa-fw text-2xl transform -rotate-45"></i>
  </div>
  <h3 class="text-2xl text-gray-900 font-semibold">User data!</h3>
  <p class="text-gray-600">Fill all the gaps.</p>
  <div class="flex">
    <div class="w-3/4">
      <div class="flex mt-3">
        <input
          formControlName="name"
          type="text"
          placeholder="Your Name"
          class="border p-2 w-1/3 mx-2"
        />
        <input
          formControlName="lastname"
          type="text"
          placeholder="Your Lastname"
          class="border p-2 w-1/3 mx-2"
        />
        <input
          formControlName="age"
          type="number"
          placeholder="Your Age"
          class="border p-2 w-1/3 mx-2"
        />
      </div>
      <div class="flex mt-3">
        <input
          formControlName="email"
          type="email"
          placeholder="Your Email"
          class="border p-2 w-1/2 mx-2"
        />
        <input
          formControlName="role"
          type="text"
          placeholder="Your Role"
          class="border p-2 w-1/2 mx-2"
        />
      </div>

      <div class="flex mt-3">
        <input
          formControlName="password"
          type="password"
          placeholder="Your Password"
          class="border p-2 w-1/2 mx-2"
        />
        <input
          formControlName="confirmPassword"
          type="password"
          placeholder="Your Confirm Password"
          class="border p-2 w-1/2 mx-2"
        />
      </div>
    </div>
    <div class="w-1/4">
      <div>
        <input
          class="border p-2 w-full mx-2"
          type="file"
          formControlName="profile_pic"
          #userpic
          (change)="sendFile($event)"
          placeholder="File"
        />
        <img src="{{ seeFile }}" />
      </div>
    </div>
  </div>
  <button
    class="w-full mt-6 bg-blue-600 hover:bg-blue-500 text-white font-semibold p-3"
    (click)="registerUser()"
  >
    Submit
  </button>
</form>
